[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5-stubs = "==5.14.2.2"
pyqt5 = "*"
pandas = "*"
matplotlib = "*"
xlrd = "*"

[requires]
python_version = "3.6"
